.container {
  width: 32.3rem;
  height: 100vh;
  padding: 0 3.2rem;
  background-color: #fbfaff;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2.5rem;
    width: auto;

    h2 {
      font-size: 2.25rem;
      margin-left: 1.5rem;
      font-weight: bold;
    }

    .messageNotRead {
      background-color: var(--red);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 20px;
      margin-left: 1.5rem;

      span {
        color: var(--white);
        font-size: 0.8rem;
      }
    }
  }

  .searchArea {
    background-color: var(--input);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    height: 3rem;
    border-radius: 25px;
    margin-top: 2rem;

    input {
      flex: 1;
      background-color: transparent;
      margin-left: 15px;
      height: 3rem;
      border-radius: 25px;
      font-size: 1rem;
      outline: 0;
      border: 0;

      &::placeholder {
        color: var(--gray-200);
        font-size: 0.875rem;
      }
    }
  }

  .filterArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        color: var(--gray-350);
        font-weight: bold;
        font-size: 0.75rem;
        margin-top: 0.75rem;
      }
    }
  }
}
